<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/pages/admin/dashboard.css" rel="stylesheet" />
    @*<link href="~/Content/pages/admin/menu-lateral.css" rel="stylesheet" />*@

    @RenderSection("styles", required: false)

</head>
<body>

    <div class="page-container">
        <div class="admin-navbar">Menu top</div>

        <div class="admin-perfil">
            Mi Perfil
        </div>

        <div class="admin-sidebar">
            <div class="links-list">
                <div class="link link--active" id="linkDashboard">
                    <div>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 48 48" version="1.1" viewBox="0 0 48 48" xml:space="preserve"><g id="Expanded"><g><g><path d="M42,48H28V35h-8v13H6V27c0-0.552,0.447-1,1-1s1,0.448,1,1v19h10V33h12v13h10V28c0-0.552,0.447-1,1-1s1,0.448,1,1V48z" /></g><g><path d="M47,27c-0.249,0-0.497-0.092-0.691-0.277L24,5.384L1.691,26.723c-0.399,0.381-1.032,0.368-1.414-0.031     c-0.382-0.399-0.367-1.032,0.031-1.414L24,2.616l23.691,22.661c0.398,0.382,0.413,1.015,0.031,1.414     C47.526,26.896,47.264,27,47,27z" /></g><g><path d="M39,15c-0.553,0-1-0.448-1-1V8h-6c-0.553,0-1-0.448-1-1s0.447-1,1-1h8v8C40,14.552,39.553,15,39,15z" /></g></g></g></svg>
                    </div>

                    <span class="link-span">Dashboard</span>
                </div>

                <div class="link" id="linkVehiculos">
                    <div>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><g><path fill="none" d="M15.727,44.978c-3.834-0.033-6.938,3.168-6.922,7.128c-0.016,3.934,3.088,7.131,6.922,7.12    c3.821,0.01,6.926-3.187,6.922-7.12C22.652,48.146,19.549,44.944,15.727,44.978z" /><path fill="none" d="M84.273,44.978c-3.86-0.033-6.967,3.168-6.987,7.128c0.021,3.934,3.127,7.131,6.987,7.12    c3.795,0.01,6.898-3.187,6.922-7.12C91.172,48.146,88.068,44.944,84.273,44.978z" /><path d="M91.984,37.287H7.954C4.648,38.279-0.009,42.02,0,48.539v23.644c0-1.565,1.27-2.835,2.834-2.835    c1.566,0,2.836,1.27,2.836,2.835s-1.27,2.835-2.836,2.835h94.331c-1.565,0-2.835-1.27-2.835-2.835s1.27-2.835,2.835-2.835    S100,70.617,100,72.183V48.539C99.978,42.02,95.313,38.279,91.984,37.287z M15.727,59.226c-3.834,0.011-6.938-3.187-6.922-7.12    c-0.016-3.96,3.088-7.161,6.922-7.128c3.822-0.033,6.926,3.168,6.922,7.128C22.652,56.039,19.548,59.235,15.727,59.226z     M84.273,59.226c-3.86,0.011-6.967-3.187-6.987-7.12c0.021-3.96,3.127-7.161,6.987-7.128c3.795-0.033,6.898,3.168,6.922,7.128    C91.172,56.039,88.068,59.235,84.273,59.226z" /><circle cx="2.835" cy="72.183" r="2.835" /><circle cx="97.165" cy="72.183" r="2.835" /></g><path d="M23.632,19.858c0-1.565-1.27-2.835-2.835-2.835h-4.034L9.301,36.287h6.426c1.168,0,2.17-0.707,2.604-1.715   c0.02-0.003,0.039-0.008,0.059-0.008l5.189-13.993c-0.014-0.005-0.028-0.009-0.043-0.015C23.592,20.331,23.632,20.1,23.632,19.858z    M18.499,34.04c0.001-0.003,0.002-0.005,0.003-0.009C18.501,34.034,18.5,34.037,18.499,34.04z M21.327,22.64   c-0.172,0.033-0.349,0.054-0.53,0.054C20.979,22.693,21.155,22.672,21.327,22.64z M22.637,21.999   c-0.051,0.044-0.102,0.088-0.156,0.129C22.535,22.087,22.586,22.043,22.637,21.999z M22.26,22.275   c-0.075,0.046-0.152,0.088-0.232,0.127C22.107,22.363,22.185,22.321,22.26,22.275z M21.819,22.496   c-0.103,0.04-0.208,0.07-0.314,0.098C21.611,22.565,21.718,22.535,21.819,22.496z M22.867,21.783   c0.02-0.021,0.037-0.046,0.057-0.068C22.904,21.737,22.887,21.762,22.867,21.783z" /><path d="M83.171,17.023h-4.044c-1.564,0-2.834,1.27-2.834,2.835c0,0.174,0.021,0.342,0.051,0.508   c0.059,0.317,0.174,0.611,0.328,0.883l4.857,13.096c0.019-0.011,0.04-0.014,0.059-0.022c0-0.001,0-0.002-0.001-0.003   c0.368,1.138,1.425,1.967,2.687,1.967h6.356L83.171,17.023z M81.438,33.452c0,0.161,0.021,0.316,0.047,0.469   C81.456,33.769,81.438,33.613,81.438,33.452z" /><path d="M82.784,16.023l-2.213-5.714l-0.137-0.354c-0.442-0.921-1.362-1.562-2.443-1.604c-0.036-0.001-0.07-0.011-0.106-0.011   s-0.07,0.009-0.106,0.011h-6.273h-3.536H28.427c-0.048,0-0.091,0.005-0.138,0.005h-6.133c-0.037-0.001-0.07-0.011-0.107-0.011   c-0.035,0-0.07,0.009-0.105,0.011C20.861,8.398,19.941,9.04,19.5,9.96l-0.137,0.354l-2.129,5.496   c-0.01,0.024-0.02,0.047-0.029,0.07l-0.055,0.143h0.002l-0.002,0.005h14.814v-0.005h36.004H82.784z" /><path d="M20.148,76.274h-9.314c-1.566,0-2.835,1.269-2.835,2.834v4.984c-0.021,10.606,14.989,10.48,14.985,0v-4.984   C22.984,77.543,21.715,76.274,20.148,76.274z" /><path d="M89.164,76.274h-9.382c-1.566,0-2.835,1.269-2.835,2.834v4.984c0.033,10.48,15.043,10.606,15.053,0v-4.984   C92,77.543,90.73,76.274,89.164,76.274z" /></g></svg>
                    </div>

                    <span class="link-span" data-page="vehiculos">Vehículos</span>
                </div>

                <div class="link" id="linkProductos">
                    <div>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 488 488" style="enable-background:new 0 0 488 488;" xml:space="preserve">
                            <g xmlns="http://www.w3.org/2000/svg">
                                <path d="M374.4,347.2C359.952,327.936,352,304.072,352,280c0-29.528-16.128-55.312-40-69.176v-24.936l24.6-49.192L293.88,0h-91.76    L159.4,136.696l24.6,49.192v24.936c-23.872,13.856-40,39.64-40,69.176c0,24.072-7.952,47.936-22.4,67.2    C105.096,369.208,96,396.496,96,424v40c0,17.648,14.352,32,32,32s32-14.352,32-32v-32c0-24.072,7.952-47.936,22.4-67.2    c16.504-22.008,25.6-49.288,25.6-76.8c0-17.648,14.352-32,32-32h8h8c17.648,0,32,14.352,32,32c0,27.504,9.096,54.792,25.6,76.8    c14.448,19.264,22.4,43.136,22.4,67.2v32c0,17.648,14.352,32,32,32s32-14.352,32-32v-40C400,396.496,390.904,369.208,374.4,347.2z     M192,288c0,24.072-7.952,47.936-22.4,67.2C153.096,377.208,144,404.496,144,432v32c0,8.824-7.176,16-16,16    c-8.824,0-16-7.176-16-16v-40c0-24.072,7.952-47.936,22.4-67.2c16.504-22.008,25.6-49.288,25.6-76.8    c0-32.928,25-60.104,57.008-63.6c-0.6,2.448-1.008,4.968-1.008,7.6c0,7.28,2.536,13.92,6.64,19.296    C204.736,250.272,192,267.656,192,288z M248,240c-8.824,0-16-7.176-16-16c0-8.824,7.176-16,16-16c8.824,0,16,7.176,16,16    C264,232.824,256.824,240,248,240z M268.944,200c-3.68-3.216-8.072-5.6-12.944-6.864V160h-16v33.136    c-4.872,1.264-9.264,3.648-12.944,6.864H224c-8.36,0-16.416,1.304-24,3.688v-21.584l-23.4-46.8L213.88,16H240v49.136    C226.232,68.712,216,81.128,216,96s10.232,27.288,24,30.864V144h16v-17.136c13.768-3.576,24-15.992,24-30.864    s-10.232-27.288-24-30.864V16h26.12l37.28,119.304L296,182.112v21.584c-7.584-2.392-15.64-3.696-24-3.696H268.944z M248,80    c8.824,0,16,7.176,16,16s-7.176,16-16,16c-8.824,0-16-7.176-16-16S239.176,80,248,80z M384,464c0,8.824-7.176,16-16,16    c-8.824,0-16-7.176-16-16v-32c0-27.504-9.096-54.792-25.6-76.8C311.952,335.936,304,312.072,304,288    c0-20.344-12.736-37.728-30.64-44.704C277.464,237.92,280,231.28,280,224c0-2.632-0.408-5.152-1.008-7.6    C311,219.896,336,247.072,336,280c0,27.504,9.096,54.792,25.6,76.8c14.448,19.264,22.4,43.136,22.4,67.2V464z" />
	                        </g>
                        </svg>
                    </div>

                    <span class="link-span" data-page="productos">Productos</span>
                </div>

                <div class="link" id="linkServicios">
                    <div>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 394 394" style="enable-background:new 0 0 394 394;" xml:space="preserve" width="512px" height="512px">
                            <g>
                                <path d="M384.9,170.9l-21.3-2c-2.5-8.6-5.9-16.8-10.4-24.6l13.5-16.3c3.3-4,3-9.7-0.6-13.4l-26.6-26.9c-3.6-3.7-9.5-4-13.5-0.7    l-16.3,13.5c-7.7-4.4-16-7.9-24.5-10.4l-2-21.2c-0.5-5.1-4.8-9-10-9H240v-30c0-5.5-4.5-10-10-10s-10,4.5-10,10v50h-37.8    c-16.1,0-31.4,7.6-41.2,20.4l-41.2,54.3l-69.3,18.9c-18,4.9-30.4,21.2-30.5,39.9v26.5c0.1,22.8,18.7,41.2,41.5,41.2h5.4    c7.5,27.9,36.2,44.3,64.1,36.8c17.9-4.9,32-18.9,36.8-36.8H220v83c0,5.5,4.5,10,10,10s10-4.5,10-10v-24h33.2c5.2,0,9.5-3.9,10-9.1    l2-21.3c8.6-2.5,16.8-5.9,24.6-10.3l16.3,13.5c4,3.3,9.8,3,13.4-0.6l26.9-26.9c3.6-3.6,3.9-9.5,0.6-13.5l-13.5-16.3    c4.4-7.8,7.9-16,10.4-24.5l21-2c5.1-0.5,9.1-4.8,9.1-10v-38.3C394,175.7,390,171.4,384.9,170.9z M97.3,299.8    c-17.8,0-32.3-14.5-32.3-32.3s14.5-32.3,32.3-32.3s32.3,14.5,32.3,32.3C129.6,285.3,115.2,299.8,97.3,299.8z M220,261h-70.8    c-3.5-28.7-29.6-49-58.2-45.6c-23.8,2.9-42.6,21.7-45.6,45.6h-4c-11.8,0.1-21.4-9.4-21.5-21.2v-26.4c0.1-9.6,6.5-18,15.8-20.6    l72.6-19.8c2.1-0.6,4-1.8,5.3-3.6l43.4-56.9c6-7.9,15.4-12.5,25.3-12.5H220V261z M240,157.5c23.4-7.8,48.7,4.9,56.5,28.4    s-4.9,48.7-28.4,56.5c-9.1,3-19,3-28.1,0V157.5z M374,209.9L374,209.9l-19,1.8c-4.3,0.4-7.9,3.6-8.8,7.8    c-2.5,11.2-7,21.8-13.3,31.4c-2.4,3.7-2.1,8.4,0.7,11.8l12.2,14.8l-14,14L317,279.4c-3.4-2.8-8.2-3.1-11.9-0.6    c-9.5,6.3-20.1,10.8-31.3,13.2c-4.3,0.9-7.4,4.5-7.8,8.8l-1.8,19.2H240v-56.9c34.9,7.8,69.5-14.2,77.2-49.1    c7.8-34.9-14.2-69.5-49.1-77.3c-9.3-2.1-18.9-2.1-28.1,0V80h24.1l1.9,19.1c0.4,4.3,3.6,7.9,7.8,8.8c11.2,2.5,21.8,7,31.4,13.2    c3.7,2.4,8.4,2.1,11.8-0.7l14.7-12.2l13.8,13.9L333.2,137c-2.8,3.4-3.1,8.2-0.6,11.9c6.3,9.5,10.8,20.1,13.2,31.3    c1,4.3,4.5,7.4,8.9,7.8l19.3,1.9V209.9z" fill="#FFFFFF" />
	                        </g>
                        </svg>
                    </div>

                    <span class="link-span" data-page="servicios">Servicios</span>
                </div>

                <div class="link">
                    Pedidos
                </div>

                <div class="link">
                    Ventas
                </div>

                <div class="link">
                    Metodos de envios
                </div>
            </div>
        </div>

        <div class="admin-content" id="adminContent">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/Generico.js"></script>
    <script src="~/Scripts/general.js"></script>

    <script src="~/Scripts/pages/admin/dashboard.js"></script>
@*<script src="~/Scripts/general/session.js"></script>*@
    @*<script src="~/Scripts/general/login.js"></script>*@
    @*<script src="~/Scripts/general/carrito-info.js"></script>*@

        @RenderSection("scripts", required: false)
</body>
</html>
