<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="~/Content/pages/admin/menu-lateral.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body>

    <div class="page-container">
        <div>Menu top</div>
        <div>Menu lateral</div>

        @RenderBody()
    </div>


    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/Generico.js"></script>
    <script src="~/Scripts/general.js"></script>
    <script src="~/Scripts/general/session.js"></script>
    <script src="~/Scripts/general/login.js"></script>
    <script src="~/Scripts/general/carrito-info.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
