
@{
    ViewBag.Title = "Index";
}

@section styles {
    @*<link href="~/Content/pages/servicio.css" rel="stylesheet" />*@    
}

@section scripts {
    <script src="~/Scripts/pages/servicio.js"></script>
}


<div id="servicios" class="seccion servicios flex-center">
    <div class="seccion-titulo">Servicios</div>

    <div class="service-card-container">
        <div class="service-card" style="background-image: url('img/services/service-image-01.jpg')">
            <div class="service-card-description">
                Mantenimiento general
            </div>
        </div>

        <div class="service-card" style="background-image: url('img/services/service-image-02.jpg')">
            <div class="service-card-description">
                Servicio de Llantas
            </div>
        </div>

        <div class="service-card" style="background-image: url('img/services/service-image-03.jpg')">
            <div class="service-card-description">
                Arreglo de Motor
            </div>
        </div>

        <div class="service-card" style="background-image: url('img/services/service-image-04.jpg')">
            <div class="service-card-description">
                Servicio de frenos
            </div>
        </div>

    </div>
</div>
