/*

*/

.button {
	padding: 8px 50px;
	box-sizing: border-box;
	line-height: 50px;

	font-size: 1.3em;
}
.button-blue {
	background-color: #012c5f;
	color: white;	
}


.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.all-device-width {
    width: 100vw;
}