@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <link href="~/Content/general/product-card.css" rel="stylesheet" />
    <link href="~/Content/general/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/pages/producto.js"></script>
}

<div class="seccion sliders">
    <div class="slider slider-one">

        <div class="slider-image-container">
            <img class="slider-image" src="img/auto-azul.png" alt="">
        </div>

        <div class="slider-message">
            <span class="slider-title">Titulo</span>
            <p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nostrum placeat </p>

            <button>Ver más</button>
        </div>

    </div>

    <div class="slider slider-two">

        <!-- <div class="slider-message">
            <span class="slider-title">Titulo</span>
            <p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nostrum placeat </p>

            <button>Ver más</button>
        </div>

        <div class="slider-image-container">
            <img class="slider-image" src="img/auto-azul.png" alt="">
        </div> -->

    </div>

    <div class="slider slider-three">

        <!-- <img src="img/auto-azul.png" alt=""> -->
        <div class="slider-image-container">
            <img class="slider-image" src="img/auto-azul.png" alt="">
        </div>

        <div class="slider-message">
            <span class="slider-title">Titulo</span>
            <p class="slider-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nostrum placeat </p>

            <button>Ver más</button>
        </div>

    </div>
</div>

<div id="productos" class="seccion productos flex-center">
    <!-- <h2 class="seccion-titulo"></h2> -->
    <div class="seccion-titulo">Accesorios</div>

    <div class="product-card-container">
        @*<div class="product-card">
            <div class="product-card-header">
                <span class="product-card-title">Llanta Dunlop</span>
                <span class="product-card-description">SP Touring T1</span>
            </div>

            <div class="product-card-image">
                <img src="img/Llanta_Dunlop_SP_Touring_T1_44.jpg" alt="Llanta Dunlop SP Touring Color negro">
            </div>

            <div class="product-card-detail">
                <div class="product-card-price">
                    $65
                </div>

                <button class="btnProductCardAddtoCart">
                    Add to cart
                </button>
            </div>
        </div>

        <div class="product-card">
            <div class="product-card-header">
                <span class="product-card-title">Llanta Dunlop</span>
                <span class="product-card-description">SP Touring T1</span>
            </div>

            <div class="product-card-image">
                <img src="img/Llanta_Dunlop_SP_Touring_T1_44.jpg" alt="Llanta Dunlop SP Touring Color negro">
            </div>

            <div class="product-card-detail">
                <div class="product-card-price">
                    $65
                </div>

                <button class="btnProductCardAddtoCart">
                    Add to cart
                </button>
            </div>
        </div>

        <div class="product-card">
            <div class="product-card-header">
                <span class="product-card-title">Llanta Dunlop</span>
                <span class="product-card-description">SP Touring T1</span>
            </div>

            <div class="product-card-image">
                <img src="img/Llanta_Dunlop_SP_Touring_T1_44.jpg" alt="Llanta Dunlop SP Touring Color negro">
            </div>

            <div class="product-card-detail">
                <div class="product-card-price">
                    $65
                </div>

                <button class="btnProductCardAddtoCart">
                    Add to cart
                </button>
            </div>
        </div>

        <div class="product-card">
            <div class="product-card-header">
                <span class="product-card-title">Llanta Dunlop</span>
                <span class="product-card-description">SP Touring T1</span>
            </div>

            <div class="product-card-image">
                <img src="img/Llanta_Dunlop_SP_Touring_T1_44.jpg" alt="Llanta Dunlop SP Touring Color negro">
            </div>

            <div class="product-card-detail">
                <div class="product-card-price">
                    $65
                </div>

                <button class="btnProductCardAddtoCart">
                    Add to cart
                </button>
            </div>
        </div>*@
    </div>
</div>

<div class="seccion servicios flex-center">
    <div class="seccion-titulo">Servicios</div>

    <div class="service-card-container">
        <div class="service-card" style="background-image: url('img/services/service-image-01.jpg')">
            <div class="service-card-description">
                Mantenimiento general
            </div>
        </div>

        <div class="service-card" style="background-image: url('img/services/service-image-02.jpg')">
            <div class="service-card-description">
                Servicio de Llantas
            </div>
        </div>

        <div class="service-card" style="background-image: url('img/services/service-image-03.jpg')">
            <div class="service-card-description">
                Arreglo de Motor
            </div>
        </div>

        <div class="service-card" style="background-image: url('img/services/service-image-04.jpg')">
            <div class="service-card-description">
                Servicio de frenos
            </div>
        </div>

    </div>
</div>

<div class="seccion test-drive">
    <div class="formulario-largo">
        <div class="seccion-titulo">Pide tu Test-Drive!</div>
        <div class="test-drive-formulario">
            <p>Descripcion de por que pedir un Test-Drive</p>

            <button>Pedir</button>
        </div>
    </div>

    <!-- <div class="seccion-titulo">Pide tu Test-Drive!</div> -->
    <!-- <div class="formulario">
        <div class="formulario-titulo"></div>

        <div class="formulario-campo">
            <label for="txtNombreUsuario">Nombre</label>
            <input type="text" id="txtNombreUsuario">
        </div>

        <div class="formulario-campo">
            <label for="txtApellidosUsuario" class="">Apellidos</label>
            <input type="text" id="txtApellidosUsuario">
        </div>

        <div class="formulario-campo">
            <label for="txtApellidosUsuario" class="">Auto</label>
            <input type="text" id="txtApellidosUsuario">
        </div>

        <div class="formulario-campo">
            <button>Pedir Test-Drive!</button>
        </div>
    </div> -->
</div>

<footer>
    Derechos reservados Raiden Makio Tomori
</footer>

